<%= if @current_user do %>
  <%= @current_user.email %>
  <%= link "Settings", to: Routes.user_settings_path(@conn, :edit), class: "hover:text-zinc-700"  %>
  <%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete, class: "hover:text-zinc-700"  %>
<% else %>
  <%= link "Log in", to: Routes.user_session_path(@conn, :new), class: "hover:text-zinc-700"  %>
<% end %>
