<main class="px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <p class="alert alert-info" role="alert"><%= Phoenix.Flash.get(@flash, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p>
    <%= @inner_content %>
  </div>
</main>
