<h1 class="mb-0">
  <.link patch={Routes.site_index_path(@socket, :index)}>🔙</.link>
  <%= @site.name %>
</h1>
<div class="mb-20">
  <.link patch={Routes.site_show_path(@socket, :edit, @site)} class="button">Edit</.link>
  <%= link "Delete", to: "#", phx_click: "delete", data: [confirm: "Are you sure?"] %>
</div>

<%= if @live_action in [:edit] do %>
  <.modal return_to={Routes.site_show_path(@socket, :show, @site)}>
    <.live_component
      module={EventHorizonWeb.SiteLive.FormComponent}
      id={@site.id}
      title={@page_title}
      action={@live_action}
      site={@site}
      return_to={Routes.site_show_path(@socket, :show, @site)}
    />
  </.modal>
<% end %>

<ul>

  <li>
    <strong>Token:</strong>
    <code id="site-token"><%= @site.token %></code>
    <button
      type="button"
      id="copy-site-token"
      data-target="#site-token"
      phx-hook="CopyToClipboard"
    >
      📋
    </button>
  </li>

  <li>
    <strong>Event Count:</strong>
    <%= @event_count %>
  </li>

  <li>
    <strong>Events Today:</strong>
    <%= @todays_event_count %>
  </li>
</ul>

<canvas id="event-chart" width="400" height="200" phx-hook="Chart"></canvas>
